ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
li{
    padding: 10px;
    width: 250px;
    max-width: 250px;
    margin: 30px;
    align-items: center;
    list-style-type: none;
}

.card{
    margin: auto;
    padding: 1rem;
    width: 100%;
    height:100%;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
}
.card > img{
    width: 100%;
    height: 60%;
    padding: 20px;
}
h3{
    font-size: 20px;
}
article{
    font-size:15px;
}
 i{
    color: #27ae60;
    font-size: 25px;

}
.options{
    display: flex;
    border-bottom: 1px solid #000;
}
Button.acart{
    background-color: #27ae60;
    color: aliceblue;
    margin: 20px 50px;
 
}